.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
}

.bottom-spacing {
    height: 200px;
}